@use "abstracts" as *;

html{
    @media screen and (min-width: $medium-screen) {
        scroll-behavior: smooth;
    }
}

body {
    background-color: $color-primary;
    font-family: $font;
    color: $color-primary-shade;

    @media screen and (min-width: 1000px) {
        font-size: 1.25rem;
    }
}

a {
    text-decoration: none;
}

.body-container {
    margin: 16px;
}