@use "abstracts" as *;

body {
    background-color: $color-primary;
    font-family: $font;
    color: $color-primary-shade;
    font-size: $font-size;
}

a {
    text-decoration: none;
}

.body-container {
    margin: 16px;
}