@use "../abstracts" as *;

.about-me {

    margin-block: $section-margin-mobile;
    margin-bottom: 2rem;

    &__header {
        @include section-header;
        text-align: center;
    }

    &__skills-container {
        @include flexbox(row, center, center);
        flex-wrap: wrap;
        gap: 15px;
        background-color: $color-primary-shade;
        padding: 16px;
        border-radius: 5px;
    }

    &__skill {
        @include flexbox(column, center, center);
        color: $color-primary-shade;
        border-radius: 5px;
        text-align: center;

        svg {
            font-size: 40px;
        }

        span {
            display: none;
        }

        &.html svg {
            color: #E34C26;
        }

        &.css svg {
            color: #007DB7;
        }

        &.javascript svg {
            color: #FFCA3E;
        }

        &.tailwind svg {
            color: #61DBFB;
        }

        &.node svg {
            color: #509941;
        }

        &.typescript svg {
            color: #3178cb;
        }

        &.express svg {
            color: #8a8a8a;
        }

        &.react svg {
            color: #61DBFB;
        }

        &.github svg {
            color: #fff;
        }

        &.tailwind svg {
            color: #07B0CE;
        }

        &.sass svg {
            color: #C76395;
        }

        &.mongodb svg {
            color: #409937;
        }

        &.responsive-design svg {
            color: $color-secondary;
        }
    }

    @media screen and (min-width: $medium-screen) {

        margin-block: $section-margin-wide;

        &__skills-container {
            gap: 20px;
            background-color: transparent;
        }

        &__skill {
            @include flexbox(column, center, center);
            background-color: $color-primary-shade;
            border-radius: 5px;
            color: white;
            text-align: center;
            width: 15%;
            max-width: 1500px;
            height: 150px;
            transition: transform 300ms ease;

            span {
                    display: inline-block;
            }

            &:not(:hover) svg {
                color: $color-primary;
            }

            &:hover {
                color: white;
                transform: rotate(-3deg);
            }

            &:nth-child(even) {

                &:hover {
                    transform: rotate(3deg);
                }
            }

        }


    }
}