@use "../abstracts" as *;

.about-me {

    margin-block: $section-margin-mobile;
    margin-bottom: 2rem;

    &__header {
        @include section-header;
        text-align: center;
    }

    &__skills-container {
        @include flexbox(row, space-evenly, center);
        flex-wrap: wrap;
        gap: 15px;
    }

    &__skill {
        @include flexbox(column, center, center);
        width: 25%;
        color: $color-primary-shade;
        border-radius: 5px;
        text-align: center;

        svg {
            font-size: 40px;
        }

        // html
        &:first-of-type svg {
            color: #E34C26;
        }

        // css
        &:nth-child(2) svg {
            color: #007DB7;
        }

        // js
        &:nth-child(3) svg {
            color: #FFCA3E;
        }

        // tailwind
        &:nth-child(4) svg {
            color: #61DBFB;
        }

        // node
        &:nth-child(5) svg {
            color: #509941;
        }

        // express
        &:nth-child(6) svg {
            color: #8a8a8a;
        }

        // github
        &:nth-child(7) svg {
            color: #fff;
        }

        // tailwind
        &:nth-child(8) svg {
            color: #07B0CE;
        }

        // sass
        &:nth-child(9) svg {
            color: #C76395;
        }

        // mongodb
        &:nth-child(10) svg {
            color: #409937;
        }

        // responsive design
        &:nth-child(11) svg {
            color: $color-secondary;
        }
    }

    @media screen and (min-width: $medium-screen) {

        margin-block: $section-margin-wide;

        &__skills-container {
            gap: 20px;
        }

        &__skill {
            @include flexbox(column, center, center);
            background-color: $color-primary-shade;
            border-radius: 5px;
            color: white;
            text-align: center;
            width: 15%;
            max-width: 1500px;
            height: 150px;
            transition: transform 300ms ease;

            &:not(:hover) svg {
                color: $color-primary;
            }

            &:hover {
                color: white;
                transform: rotate(-2deg);
            }

            &:nth-child(even) {

                &:hover {
                    transform: rotate(2deg);
                }
            }

        }


    }
}