@use "../abstracts" as *;

.hero {
    @include flexbox(column, center, center);

    // negates the floating navbar
    margin-top: 50px;
    padding: $margin;

    h1 {
        @include header;
        margin: 0;
        margin-bottom: 10px;
        font-size: 1.5rem;
        text-align: center;
    }

    &__name {
        font-size: 1.8rem;
        font-family: $font-decor;
        color: $color-secondary;
        text-shadow: 1px 1px 5px black;
        margin-right: 5px;
        margin-block: 0;
        display: inline-block;

    }

    &__img {
        border-radius: 15px;
        height: 200px;
    }

    &__button {
        @include button-styles;
        padding: 10px;
        margin-top: 16px;
    }

    &__content {
        @include flexbox(column, center, center);
    }

    @media all and (min-width: $medium-screen) {
        @include flexbox(row-reverse, space-evenly, center);
        // height: 85vh;
        margin-top: 80px;
        padding: 0;

        h1 {
            font-size: 1.3rem;
        }

        &__img {
            height: auto;
            width: 40%;
        }

        &__content {
            @include flexbox(column, center, start);
        }

        &__content {
            width: 50%;
        }
    }

        @media all and (min-width: 1000px) {

            &__img {
                width: 30%;
            }

            h1 {
                font-size: 2.5rem;
            }

            &__name {
                font-size: 2.6rem;
            }
        }

}