@use "../abstracts" as *;

.hero {
    @include flexbox(column, center, center);

    // makes room for the fixed position navbar
    margin-top: 50px;
    padding: $margin;

    h1 {
        @include section-header;
        margin: 0;
        margin-bottom: 10px;
        font-size: 1.8rem;
        text-align: center;
    }

    &__name {
        font-size: 2rem;
        font-family: $font-decor;
        color: $color-secondary;
        text-shadow: 1px 1px 4px black;
        margin-right: 5px;
        margin-block: 0;
        display: inline-block;

    }

    &__img {
        border-radius: 15px;
        width: 40%;
        margin: 16px;
        
        animation: side-to-side 800ms linear infinite alternate;
    }

    &__button {
        @include button-styles;
        padding: 10px;
        margin-top: 16px;
    }

    &__special-words {
        font-family: $font-decor;
    }

    &__content {
        @include flexbox(column, center, center);
        gap: 10px;
    }

    

    @media all and (min-width: $medium-screen) {
        @include flexbox(row-reverse, space-evenly, center);
        margin-top: 80px;
        padding: 0;

        h1 {
            font-size: 1.3rem;
        }
        
        &__bolded-upon-hover:hover {
            text-shadow: 1px 1px 1px $color-primary-shade;
        }

        &__img {
            height: auto;
        }

        &__content {
            @include flexbox(column, center, start);
            width: 50%;
        }

        &__button {
            padding: 15px;
        }
    }

        @media all and (min-width: 1000px) {

            height: 80vh;

            &__img {
                width: 20%;
            }

            h1 {
                font-size: 2.5rem;
            }

            &__name {
                font-size: 2.8rem;
            }
        }

}

@keyframes side-to-side {
    0% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}