@use "../abstracts" as *;

.hero {
    @include flexbox(column, center, center);
    padding: $margin;
    margin-top: 50px;

    h1 {
        @include header;
        font-weight: bold;
        font-size: 1.5rem;
        font-family: $font-decor;
    }

    &__name {
        color: $color-secondary;
        text-shadow: 1px 1px 5px black;
        font-size: 1.6rem;
        margin-left: 8px;
        margin-right: 5px;

    }

    &__img {
        border-radius: 15px;
        height: 200px;
    }

    &__button {
        @include button-styles;
        padding: 15px;
        margin-top: 16px;
    }

    &__content {
        @include flexbox(column, center, center);
    }

    @media all and (min-width: $medium-screen) {
        @include flexbox(row-reverse, space-evenly, center);
        height: 100vh;
        padding: 0;

        h1 {
            font-size: 1.3rem;
        }

        &__img {
            height: auto;
            width: 40%;
        }

        &__content {
            @include flexbox(column, center, start);
        }

        &__content {
            width: 50%;
        }
    }

        @media all and (min-width: 1000px) {

            &__img {
                width: 30%;
            }

            h1 {
                font-size: 2.5rem;
            }

            &__name {
                font-size: 2.6rem;
            }
        }

}