@use "../abstracts" as *;

.about-me {

    &__header {
        @include header;
        margin: 0 auto;
        text-align: center;
    }

    &__special-words {
        font-family: $font-decor;
    }

    &__skills-container {
        @include flexbox(row, space-evenly, center);
        flex-wrap: wrap;
        gap: 15px;
        margin-inline: auto;
    }

    &__skill {
        @include flexbox(column, center, center);
        width: 45%;
        height: 150px;
        background-color: $color-primary-shade;
        color: $color-primary;
        border-radius: 5px;
        color: white;
        text-align: center;

        svg {
            font-size: 40px;
        }
        
        // html
        &:first-of-type svg {
            color: #E34C26;
        }

        // css
        &:nth-child(2) svg {
            color: #007DB7;
        }

        // js
        &:nth-child(3) svg {
            color: #FFCA3E;
        }

        // tailwind
        &:nth-child(4) svg {
            color: #61DBFB;
        }

        // node
        &:nth-child(5) svg {
            color: #509941;
        }

        // express
        &:nth-child(6) svg {
            color: #8a8a8a;
        }

        // github
        &:nth-child(7) svg {
            color: #fff;
        }

        // tailwind
        &:nth-child(8) svg {
            color: #07B0CE;
        }

        // sass
        &:nth-child(9) svg {
            color: #C76395;
        }

        // mongodb
        &:nth-child(10) svg {
            color: #409937;
        }

        // responsive design
        &:nth-child(11) svg {
            color: $color-secondary;
        }
    }

    @media screen and (min-width: $medium-screen) {
        &__skill {
            width: 20%;
            max-width: 1500px;
            height: 150px;

            &:not(:hover) svg {
                color: $color-primary;
            }

            &:hover {
                color: white;
                border: 4px solid $color-secondary;
            }

        }

        
    }
}