@use "../abstracts" as *;

.portfolio {
    margin-block: $section-margin-mobile;
    scroll-margin-top: 5rem;
    
    &__header{
        @include header;
    }

    @media screen and (min-width: $medium-screen){
        margin: $section-margin-wide;
    }
}

.project {
    @include flexbox(column, center, center);
    gap: 32px;
    width: 100%;

    &:not(:first-of-type){
        padding-top: 58px;
    }
    
    &__header {
        font-family: $font-decor;
        font-size: $font-size-mobile-h3;
    }

    &__tech-used-header {
        font-weight: bold;
    }

    &__tech-used {
        margin-block: 16px;
        font-style: italic
    }

    &__links {
        @include flexbox(column, center, center);
        gap: 10px;
        margin-top: 16px;
    }
    
    &__link {
        background-color: $color-secondary;
        border-radius: 5px;
        padding-block: 2px;
        width: 100%;
        outline: 3px solid $color-primary-shade;
        text-align: center;

        &:active{
            outline: 4px solid $color-primary-shade;

        }
    }

    &__img {
        // arbitrary number that keeps the image from touching anything above it on mobile
        margin-top: -35%;
        width: 100%;
        pointer-events: none;
    }
    
    @media screen and (min-width: 342px) {
        &__links {
            flex-direction: row;
            gap: 10px;
            margin-top: 16px;
        }

        &__link {
            width: 150px;
            padding-block: 5px;
        }

        &__img {
            margin-top: -25%;
            width: 80%;
        }
    }

    @media screen and (min-width: 1053px) {
        @include flexbox(row, center, center);
        
        border-bottom: 2px solid $color-primary-shade;
        padding-inline: 16px;

        &:not(:first-of-type) {
            padding-top: 48px;
        }

        &:nth-of-type(odd){
            flex-direction: row-reverse;
        }

        &__header {
            font-family: $font-decor;
            font-size: $font-size-wide-h3;
        }

        &__body {
            @include flexbox(column, space-evenly, start);
            height: 100%;
        }

        &__links {
            margin-bottom: 16px;
        }

        &__link {
            cursor: pointer;

            &:hover {
                outline-width: 4px;
            }
            &:active {
                background-color: adjust-color($color-secondary, $lightness: 5%);
            }
        }

        &__img {
            height: 500px;
            object-fit: cover;
            margin: 0 auto;
            margin-top: -120px;
            align-self: end;
        }
    }
}