@use "../abstracts" as *;

.portfolio {
    margin-block: $section-margin-mobile;
    scroll-margin-top: 5rem;
    
    &__header{
        @include section-header;
    }

    @media screen and (min-width: $medium-screen){
        margin: $section-margin-wide;
    }
}

.project {
    @include flexbox(column, center, center);
    gap: 32px;
    width: 100%;

    &:not(:first-of-type){
        padding-top: 58px;
    }

    
    &__header{
        @include flexbox(row, justify-start, center);
        gap: 5px;
        flex-wrap: wrap;

        &--name {
            font-family: $font-decor;
            font-size: 1.5rem;
        }
    }
    
    &__tech-used-header {
        margin-inline: 20px;
    }

    &__tech-used {
        margin-block: 5px;
        display: inline-block;
    }

    &__links {
        @include flexbox(column, center, center);
        gap: 10px;
        margin-top: 16px;
    }
    
    &__link {
        background-color: $color-secondary;
        border-radius: 5px;
        padding-block: 2px;
        width: 100%;
        outline: 3px solid $color-primary-shade;
        text-align: center;

        &:active{
            outline: 4px solid $color-primary-shade;

        }
    }

    &__img-container {
        width: 100%;
    }

    &__img {
        // arbitrary number that keeps the image from touching anything above it on mobile
        margin-top: -35%;
        width: 100%;
        pointer-events: none;
        margin-inline: auto;

        &.firefox {
            margin-top: 0;
            width: 70%;
                                        // images start to be too big
            @media screen and (min-width: 464px) {
             width: 40%;
            }
        }


    }
    
    @media screen and (min-width: 550px) {
        &__links {
            flex-direction: row;
            gap: 10px;
            margin-top: 16px;
        }

        &__link {
            width: 150px;
            padding-block: 5px;
        }

        &__img {
            margin-top: -18%;
            width: 50%;
        }
    }

    @media screen and (min-width: 1053px) {
        @include flexbox(row, center, center);
        background-color: transparent;
        border-bottom: 2px solid $color-primary-shade;
        padding-inline: 16px;

        &:not(:first-of-type) {
            padding-top: 48px;
        }

        &:nth-of-type(odd){
            flex-direction: row-reverse;
        }

        &__header{
            justify-content: center;

            &--name {
                font-family: $font-decor;
                font-size: 2rem;
            }
        }

        &__img {
            width: fit-content;
            object-fit: cover;
            margin: 0 auto;
            margin-top: -120px;
            align-self: end;

            &.firefox {
                width: 80%;
            }
        }

        &__body {
            @include flexbox(column, space-evenly, flex-start);
            height: 100%;
            width: 100%;
        }

        &__links {
            margin-bottom: 16px;
        }

        &__link {
            cursor: pointer;

            &:hover {
                outline-width: 4px;
            }
            &:active {
                background-color: adjust-color($color-secondary, $lightness: 5%);
            }
        }

    }
}