/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: normal;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

ul {
  margin: 0;
}

a {
  color: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: #a27bd5;
  font-family: "Poppins", sans-serif;
  color: #281047;
}

a {
  text-decoration: none;
}

.body-container {
  margin: 16px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  background-color: #a27bd5;
  position: relative;
  font-size: 1.5rem;
  border-bottom: 2px solid #281047;
  position: fixed;
  top: 0;
  left: 0;
}
nav li {
  list-style: none;
}
nav .hamburger-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
nav .hamburger-icon img {
  width: 30px;
}
nav .nav__links {
  padding: 16px 0 0;
  position: absolute;
  top: 103%;
  left: -100%;
  width: 100%;
  height: 100vh;
  text-align: center;
  border-right: 2px solid #281047;
  background-color: #a27bd5;
  transition: all 300ms ease-in-out;
}
nav .nav__links.active {
  left: 0;
}
nav .nav__logo {
  font-family: "Fugaz One", cursive;
  color: #281047;
}
@media screen and (min-width: 678px) {
  nav {
    padding: 0 16px;
    height: 70px;
  }
  nav .nav__logo {
    font-size: 2rem;
  }
  nav .nav__links {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: auto;
    height: auto;
    border: none;
    background-color: unset;
    padding: 0;
  }
  nav .hamburger-icon {
    display: none;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin-top: 50px;
}
.hero h1 {
  font-family: "Fugaz One", cursive;
  font-size: 30px;
  width: fit-content;
  margin: 16px auto;
  font-weight: bold;
  font-family: "Fugaz One", cursive;
}
@media screen and (min-width: 678px) {
  .hero h1 {
    font-size: 2.5rem;
  }
}
.hero p {
  font-size: 1.2rem;
}
.hero__name {
  color: #f67ba4;
  text-shadow: 1px 1px 5px black;
  font-size: 2.2rem;
  margin-left: 8px;
  margin-right: 5px;
}
.hero__img {
  border-radius: 15px;
  height: 200px;
}
.hero__button {
  border-radius: 100%;
  background-color: #281047;
  color: #f67ba4;
  border: 3px solid #f67ba4;
  outline: 0;
  box-shadow: 0px 19px 3px -17px rgba(255, 255, 255, 0.58) inset;
  -webkit-box-shadow: 0px 19px 5px -17px rgba(255, 255, 255, 0.58) inset;
  -moz-box-shadow: 0px 19px 3px -17px rgba(255, 255, 255, 0.58) inset;
  cursor: pointer;
  padding: 15px;
  margin-top: 16px;
}
.hero__button:hover {
  box-shadow: 0px 30px 3px -17px rgba(255, 255, 255, 0.58) inset;
  -webkit-box-shadow: 0px 20px 5px -17px rgba(255, 255, 255, 0.58) inset;
  -moz-box-shadow: 0px 19px 3px -17px rgba(255, 255, 255, 0.58) inset;
}
.hero__button:active {
  box-shadow: 5px 25px 3px -17px rgba(255, 255, 255, 0.58) inset;
  -webkit-box-shadow: 0px -19px 5px -17px rgba(255, 255, 255, 0.58) inset;
  -moz-box-shadow: 0px 19px 3px -17px rgba(255, 255, 255, 0.58) inset;
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
@media all and (min-width: 678px) {
  .hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
    margin-inline: 0;
  }
  .hero__img {
    height: auto;
    width: 30%;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .hero div {
    width: 50%;
  }
}

.skills__header {
  font-family: "Fugaz One", cursive;
  font-size: 30px;
  width: fit-content;
  margin: 16px auto;
}
@media screen and (min-width: 678px) {
  .skills__header {
    font-size: 2.5rem;
  }
}
.skills__skill-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.skills__card {
  background-color: #f67ba4;
  border-radius: 10px;
  padding: 5px 10px;
  border: 3px solid #281047;
}
.skills__content-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.skills__content-container img {
  width: 50%;
}
@media screen and (min-width: 678px) {
  .skills__card {
    padding: 10px 15px;
  }
  .skills__skill-cards {
    width: 80%;
    margin: 0 auto;
  }
  .skills__content-container img {
    width: 20%;
  }
}

.portfolio {
  margin-block: 25px;
}
.portfolio__header {
  font-family: "Fugaz One", cursive;
  font-size: 30px;
  width: fit-content;
  margin: 16px auto;
}
@media screen and (min-width: 678px) {
  .portfolio__header {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 678px) {
  .portfolio {
    margin: 35px;
  }
}

.project {
  border: 3px solid #281047;
  background-color: #f67ba4;
  border-radius: 10px;
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
