/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: normal;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

ul {
  margin: 0;
}

a {
  color: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@media screen and (min-width: 678px) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  background-color: #a27bd5;
  font-family: "Poppins", sans-serif;
  color: #4b257d;
  font-size: 1rem;
}
@media screen and (min-width: 1000px) {
  body {
    font-size: 1.25rem;
  }
}

a {
  text-decoration: none;
}

.body-container {
  margin: 16px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  background-color: #a27bd5;
  border-bottom: 3px solid #4b257d;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
nav li {
  list-style: none;
}
nav .hamburger-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
nav .hamburger-icon img {
  width: 30px;
}
nav .nav__links {
  padding: 16px 0 0;
  position: absolute;
  top: 105%;
  left: -100%;
  width: 100%;
  height: 100vh;
  text-align: center;
  border-right: 3px solid #4b257d;
  background-color: #a27bd5;
  font-size: 1.3rem;
  transition: all 300ms ease-in-out;
}
nav .nav__links.active {
  left: 0;
}
nav .nav__logo {
  font-family: "Fugaz One", cursive;
  font-size: 2.3rem;
  width: fit-content;
  margin: 16px auto;
  margin: unset;
}
@media screen and (min-width: 678px) {
  nav .nav__logo {
    font-size: 2.6rem;
  }
}
@media screen and (max-width: 500px) {
  nav .nav__logo {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 678px) {
  nav {
    padding: 0 16px;
    height: 70px;
  }
  nav li:hover {
    translate: 2px -2px;
  }
  nav .nav__logo {
    font-size: 2rem;
  }
  nav .nav__links {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: auto;
    height: auto;
    border: none;
    background-color: unset;
    padding: 0;
  }
  nav .hamburger-icon {
    display: none;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 16px;
  text-align: center;
}
.hero h1 {
  font-family: "Fugaz One", cursive;
  font-size: 2.3rem;
  width: fit-content;
  margin: 16px auto;
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.8rem;
  text-align: center;
}
@media screen and (min-width: 678px) {
  .hero h1 {
    font-size: 2.6rem;
  }
}
.hero__name {
  font-size: 2rem;
  font-family: "Fugaz One", cursive;
  color: #f67ba4;
  text-shadow: 1px 1px 4px black;
  margin-right: 5px;
  margin-block: 0;
  display: inline-block;
}
.hero__img {
  border-radius: 15px;
  width: 100px;
  margin: 16px;
  animation: side-to-side 800ms linear infinite alternate;
}
.hero__button {
  border-radius: 100%;
  background-color: #4b257d;
  color: #f67ba4;
  border: 3px solid #f67ba4;
  outline: 0;
  box-shadow: 0px 19px 3px -17px rgba(255, 255, 255, 0.58) inset;
  -webkit-box-shadow: 0px 19px 5px -17px rgba(255, 255, 255, 0.58) inset;
  -moz-box-shadow: 0px 19px 3px -17px rgba(255, 255, 255, 0.58) inset;
  cursor: pointer;
  padding: 10px;
  margin-top: 16px;
}
.hero__button:hover {
  box-shadow: 0px 30px 3px -17px rgba(255, 255, 255, 0.58) inset;
  -webkit-box-shadow: 0px 20px 5px -17px rgba(255, 255, 255, 0.58) inset;
  -moz-box-shadow: 0px 19px 3px -17px rgba(255, 255, 255, 0.58) inset;
}
.hero__button:active {
  box-shadow: 5px 25px 3px -17px rgba(255, 255, 255, 0.58) inset;
  -webkit-box-shadow: 0px -19px 5px -17px rgba(255, 255, 255, 0.58) inset;
  -moz-box-shadow: 0px 19px 3px -17px rgba(255, 255, 255, 0.58) inset;
}
.hero__special-words {
  font-family: "Fugaz One", cursive;
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media all and (min-width: 528px) {
  .hero {
    margin-top: 100px;
  }
  .hero__img {
    width: 150px;
  }
}
@media all and (min-width: 678px) {
  .hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 90px;
    padding: 0;
    text-align: start;
  }
  .hero h1 {
    font-size: 1.3rem;
    text-align: start;
  }
  .hero__bolded-upon-hover:hover {
    text-shadow: 1px 1px 1px #4b257d;
  }
  .hero__img {
    width: 200px;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
  }
  .hero__button {
    padding: 15px;
  }
}
@media all and (min-width: 1000px) {
  .hero {
    height: 80vh;
  }
  .hero__img {
    width: 15%;
  }
  .hero h1 {
    font-size: 2.5rem;
  }
  .hero__name {
    font-size: 2.8rem;
  }
}

@keyframes side-to-side {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
.about-me {
  margin-block: 25px;
  margin-bottom: 2rem;
}
.about-me__header {
  font-family: "Fugaz One", cursive;
  font-size: 2.3rem;
  width: fit-content;
  margin: 16px auto;
  text-align: center;
}
@media screen and (min-width: 678px) {
  .about-me__header {
    font-size: 2.6rem;
  }
}
.about-me__skills-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  background-color: #4b257d;
  padding: 16px;
  border-radius: 5px;
}
.about-me__skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4b257d;
  border-radius: 5px;
  text-align: center;
}
.about-me__skill svg {
  font-size: 40px;
}
.about-me__skill span {
  display: none;
}
.about-me__skill.html svg {
  color: #E34C26;
}
.about-me__skill.css svg {
  color: #007DB7;
}
.about-me__skill.javascript svg {
  color: #FFCA3E;
}
.about-me__skill.tailwind svg {
  color: #61DBFB;
}
.about-me__skill.node svg {
  color: #509941;
}
.about-me__skill.typescript svg {
  color: #3178cb;
}
.about-me__skill.express svg {
  color: #8a8a8a;
}
.about-me__skill.react svg {
  color: #61DBFB;
}
.about-me__skill.github svg {
  color: #fff;
}
.about-me__skill.tailwind svg {
  color: #07B0CE;
}
.about-me__skill.sass svg {
  color: #C76395;
}
.about-me__skill.mongodb svg {
  color: #409937;
}
.about-me__skill.responsive-design svg {
  color: #f67ba4;
}
@media screen and (min-width: 678px) {
  .about-me {
    margin-block: 35px;
  }
  .about-me__skills-container {
    gap: 20px;
    background-color: transparent;
  }
  .about-me__skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4b257d;
    border-radius: 5px;
    color: white;
    text-align: center;
    width: 15%;
    max-width: 1500px;
    height: 150px;
    transition: transform 300ms ease;
  }
  .about-me__skill span {
    display: inline-block;
  }
  .about-me__skill:not(:hover) svg {
    color: #a27bd5;
  }
  .about-me__skill:hover {
    color: white;
    transform: rotate(-3deg);
  }
  .about-me__skill:nth-child(even):hover {
    transform: rotate(3deg);
  }
}

.portfolio {
  margin-block: 25px;
  scroll-margin-top: 5rem;
}
.portfolio__header {
  font-family: "Fugaz One", cursive;
  font-size: 2.3rem;
  width: fit-content;
  margin: 16px auto;
}
@media screen and (min-width: 678px) {
  .portfolio__header {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 678px) {
  .portfolio {
    margin: 35px;
  }
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
}
.project:not(:first-of-type) {
  padding-top: 58px;
}
.project__header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}
.project__header--name {
  font-family: "Fugaz One", cursive;
  font-size: 1.5rem;
}
.project__tech-used-header {
  margin-inline: 20px;
}
.project__tech-used {
  margin-block: 5px;
  display: inline-block;
}
.project__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}
.project__link {
  background-color: #f67ba4;
  border-radius: 5px;
  padding-block: 2px;
  width: 100%;
  outline: 3px solid #4b257d;
  text-align: center;
}
.project__link:active {
  outline: 4px solid #4b257d;
}
.project__img-container {
  width: 100%;
}
.project__img {
  margin-top: -35%;
  width: 100%;
  pointer-events: none;
  margin-inline: auto;
}
.project__img.firefox {
  margin-top: 0;
  width: 70%;
}
@media screen and (min-width: 464px) {
  .project__img.firefox {
    width: 40%;
  }
}
@media screen and (min-width: 550px) {
  .project__links {
    flex-direction: row;
    gap: 10px;
    margin-top: 16px;
  }
  .project__link {
    width: 150px;
    padding-block: 5px;
  }
  .project__img {
    margin-top: -18%;
    width: 50%;
  }
}
@media screen and (min-width: 1053px) {
  .project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-bottom: 2px solid #4b257d;
    padding-inline: 16px;
  }
  .project:not(:first-of-type) {
    padding-top: 48px;
  }
  .project:nth-of-type(odd) {
    flex-direction: row-reverse;
  }
  .project__header {
    justify-content: center;
  }
  .project__header--name {
    font-family: "Fugaz One", cursive;
    font-size: 2rem;
  }
  .project__img {
    width: fit-content;
    object-fit: cover;
    margin: 0 auto;
    margin-top: -120px;
    align-self: end;
  }
  .project__img.firefox {
    width: 80%;
  }
  .project__body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    height: 100%;
    width: 100%;
  }
  .project__links {
    margin-bottom: 16px;
  }
  .project__link {
    cursor: pointer;
  }
  .project__link:hover {
    outline-width: 4px;
  }
  .project__link:active {
    background-color: #f893b4;
  }
}

.contactForm__header {
  font-family: "Fugaz One", cursive;
  font-size: 2.3rem;
  width: fit-content;
  margin: 16px auto;
}
@media screen and (min-width: 678px) {
  .contactForm__header {
    font-size: 2.6rem;
  }
}
.contactForm__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.contactForm__container label {
  width: 100%;
}
.contactForm__container textarea {
  resize: vertical;
  min-height: 150px;
}
.contactForm__container textarea, .contactForm__container input {
  width: 100%;
  border: none;
  outline: 4px solid transparent;
  border-radius: 5px;
  padding: 5px;
  display: block;
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
}
.contactForm__container textarea:active, .contactForm__container textarea:focus, .contactForm__container input:active, .contactForm__container input:focus {
  outline-color: #4b257d;
}
.contactForm__button {
  border-radius: 100%;
  background-color: #4b257d;
  color: #f67ba4;
  border: 3px solid #f67ba4;
  outline: 0;
  box-shadow: 0px 19px 3px -17px rgba(255, 255, 255, 0.58) inset;
  -webkit-box-shadow: 0px 19px 5px -17px rgba(255, 255, 255, 0.58) inset;
  -moz-box-shadow: 0px 19px 3px -17px rgba(255, 255, 255, 0.58) inset;
  cursor: pointer;
  padding: 10px 20px;
}
.contactForm__button:hover {
  box-shadow: 0px 30px 3px -17px rgba(255, 255, 255, 0.58) inset;
  -webkit-box-shadow: 0px 20px 5px -17px rgba(255, 255, 255, 0.58) inset;
  -moz-box-shadow: 0px 19px 3px -17px rgba(255, 255, 255, 0.58) inset;
}
.contactForm__button:active {
  box-shadow: 5px 25px 3px -17px rgba(255, 255, 255, 0.58) inset;
  -webkit-box-shadow: 0px -19px 5px -17px rgba(255, 255, 255, 0.58) inset;
  -moz-box-shadow: 0px 19px 3px -17px rgba(255, 255, 255, 0.58) inset;
}
.contactForm label:has(input:focus), .contactForm label:has(textarea:focus) {
  font-family: "Fugaz One", cursive;
}
@media screen and (min-width: 678px) {
  .contactForm__container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    width: 70%;
    margin: 0 auto;
  }
  .contactForm label {
    width: 100%;
    font-size: 1.2rem;
  }
  .contactForm__message textarea {
    min-height: 200px;
  }
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.socials__linkedin, .socials__github, .socials__twitter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.socials svg {
  font-size: 1.5rem;
}
.socials__linkedin:hover {
  color: #0077b5;
}
.socials__github:hover {
  color: #fff;
}
.socials__twitter:hover {
  color: #1DA1F2;
}

.footer {
  border-top: 3px solid #4b257d;
  width: 100%;
  padding-block: 16px;
  text-align: center;
}
.footer__name {
  font-family: "Fugaz One", cursive;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #f67ba4 #4b257d;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #4b257d;
}

*::-webkit-scrollbar-thumb {
  background-color: #f67ba4;
}

/*# sourceMappingURL=index.css.map */
